.formMask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
}
.formMask+div{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width:400px;
    background: rgb(226, 226, 233);
}
.close{
    position: absolute;
    top: 4px;
    right: 4px;
    font-weight: bold;
    cursor: pointer;
}